@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=PT+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --orange-web-text: rgb(250, 183, 75);
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --monospace: 'Courier Prime', monospace;
  --serif: 'Playfair Display', serif;
  --sans-serif: 'PT Sans', sans-serif;
  --serif2: 'EB Garamond', serif;
}

/*global styles*/
h1 {
  font-family: var(--serif2);
  font-size: larger;
  font-weight: bolder;
  color: var(--platinum)
}

h2 {
  font-family: var(--serif2);
  font-weight: bolder;
  font-size: 1.5em;
}

h3 {
  font-family: var(--serif2);
  font-weight: bolder;
  font-size: 1em;
}

h4 {
  font-family: var(--monospace);
  font-size: .9em;
  text-align: center;
}

p {
  font-family: var(--sans-serif); 
  font-size: .9em;
}

.logo {
  margin-top: 60px;
}

header {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center top;
  background-position: 50% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--oxford-blue);
  background-color: var(--black);
  color: var(--orange-web-text);
  padding: 10px;
}

nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: .8em;
}

nav a {
  text-decoration: none;
  color: var(--orange-web-text);
}

nav >*:hover {
  transform: scale(105%);
  font-weight: 800;
}

.active {
  font-weight: bolder;
}

.logout {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

select {
  font-family: 'Playfair Display', serif;
}

input {
  margin-left: 10px;
}

input:focus {
  outline: none;
}

label {
  font-family: var(--serif2);
}

hr {
  border: 1px dotted var(--platinum);
  width: 100%;
}

button {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 5px;
  background-color: white;
  border: 1px solid var(--platinum);
  border-radius: 5px;
  cursor: pointer;
}

button:active, button:hover {
  background-color: var(--oxford-blue);
  color: white
}


/*PAWSTROLOGY page styles*/
.gallery-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.pet-el {
  border: 1px solid var(--platinum);
  border-radius: 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.pet-el img {
  width: 100px;
}

.pet-el .smaller-images {
  width: 50px;
}

.yelp-container {
  border: 1px solid var(--platinum);
  border-radius: 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.yelp-rec img {
  width: 50px;
}

.yelp-rec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dos-donts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

/*PETS page styles*/
.pets-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.pets-container img {
  width: 100px;
}

.pets-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.one-pet {
  border: 1px solid var(--platinum);
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.addpet-container {
  border: 1px solid var(--platinum);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.addpet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-button {
  margin-top: 15px;
}

/*ABOUT page styles*/
.about-container{
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--platinum);
  border-radius: 5px;
  padding: 25px;
  margin-top: 30px;

  }
  
  .about-container img{
    width: 50px;
    /* height: 25px; */
  
  }
  
  .team-member{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    gap: 17px;
    font-size: small;
    font-family: var(--monospace);
    align-items: center;
    line-height: normal;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  