@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=PT+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --orange-web-text: rgb(250, 183, 75);
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --monospace: 'Courier Prime', monospace;
  --serif: 'Playfair Display', serif;
  --sans-serif: 'PT Sans', sans-serif;
  --serif2: 'EB Garamond', serif;
}

.App {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(--serif2);
}

header {
  background-color: var(--oxford-blue);
  color: var(--orange-web-text);
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: var(--orange-web-text);
}

nav >*:hover {
  transform: scale(105%);
  font-weight: 800;
}

.active {
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.about-container{
display: flex;
flex-direction: column;
height: 100%;
gap: 15px;
padding-left: 30px;
padding-right: 30px;
padding-top: 20px;
}
.about-container img{
  width: 31%;
  height: 31%;
  object-fit: cover;

}
h2{
  font-family: var(--sans-serif);
}
.team-member{
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 17px;
  font-size: small;
  font-family: var(--monospace);
  align-items: center;
}

.pet-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  /* border: 1px dotted gray;
  padding: 15px; */
}

.pet-el img {
  width: 100px;
}

.pet-el .paws {
  width: 50px;
}

/* .zodiac {
  border: 1px dotted black;
} */

.yelp-container {
  margin-top: 20px;
  border: 1px dotted black;
}
.yelp-container img{
  width:100px;
}